{{#partial "content"}}

    <div class="col-md-8">
        <a href="/animal-form" class="btn btn-primary">Add an Animal</a>
        <a href="/endangered-animal-form" class="btn btn-primary">Add an Endangered Animal</a>
        <a href="/sighting-form" class="btn btn-primary">Add a Sighting</a>
    </div>

{{/partial}}
{{> layout.hbs}}