<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}Blog{{/block}}</title>

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body >
<ul class="nav nav-tabs">
    <li role="presentation"><a href="/">Home</a></li>
    <li role="presentation"><a href="/animals">Animals</a></li>
    <li role="presentation"><a href="/endangeredAnimals">EndangeredAnimals</a></li>
</ul>
<div class="container">
    <!--begin main template-->
    <div class="page-header">
       WILDLIFE TRACKER
    </div>

    <div class="col-md-12">
        {{#block "content"}}
        {{/block}}

    </div>
</div>
<!--end main template-->
{{#block "footer"}}
    </body>
    </html>
{{/block}}
